<div
  class="ui tiny green circular label"
  style="
    width: 10rem;
    font-size: 1rem;
    position: fixed;
    left: 0px;
    top: 250px;
    z-index: 1;
  "
>
  <label>عدد المنتقلين : <span id="stat">0</span></label> <br />
</div>
<div
  class="ui tiny yellow circular label"
  style="
    width: 10rem;
    font-size: 1rem;
    position: fixed;
    left: 0px;
    top: 285px;
    z-index: 1;
  "
>
  <label> عدد المعيدين : <span id="stat1">0</span></label>
</div>
<div
  class="ui tiny red circular label"
  style="
    width: 10rem;
    font-size: 1rem;
    position: fixed;
    left: 0px;
    top: 320px;
    z-index: 1;
  "
>
  <label> عدد الموجهين : <span id="stat2">0</span></label>
</div>

<div class="action-btn flex gap-4">
  <!--
  <button class="btn btn-Pink">حجز التقديرات</button>
  -->
  <button class="btn btn-dark hacen fs-3 finalStats">احصائيات سريعة</button>
</div>
<style>
  .action-btn {
    position: fixed;
    bottom: 44px;
    z-index: 100;
    left: 100px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
</style>
