<head>
  <style>
    @page {
      size: A4 landscape;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }
    @media print {
      html {
        background-color: white !important;
      }
    }
  </style>
</head>

<body class="print A4 landscape" dir="rtl">
  <div class="sheet p-5mm h-auto hacen">
    <div id="header"></div>
    <h1 class="m-0 p-0 hacen fs-2 text-center">
      قوائم التلاميذ المعنيين بالاستدراك
    </h1>

    <div id="sheet">
      <table>
        <tbody></tbody>
      </table>
    </div>
    <div id="footer"></div>
  </div>
</body>
