<head>
  <style>
    .yes {
      background: #fba3a3 !important;
    }

    @page {
      size: A4;
    }

    @media print {
      html {
        background-color: white !important;
      }

      .no-print {
        display: none !important;
      }
    }

    .table th {
      background: transparent !important;
      color: #000;
    }
  </style>
</head>

<body class="A4 print" dir="rtl">
  <div class="sheet p-5mm hacen">
    <h1 class="hacen text-center">
      الرجاء الانتظار قليلا حتى يتم جلب البيانات
    </h1>
  </div>
</body>
