<div id="form_excel-rak" class="ui basic small modal biarabi">
  <div class="ui header hacen fs-1 text-white py-0">
    ادراج الرغبات انطلاقا من ملف اكسل الخاص بمستشار التوجيه
  </div>
  <div class="content">
    <section class="ui form segment">
      <div class="lds" id="$notifyPapers"></div>
      <div class="tab" data-tab-id="tab1">
        <div class="ui secondary menu mb-3 fs-3 tabs" data-tab-id="tab1">
          <a class="hacen item tab tab-link active" data-target="getFile">
            تحميل ملف الاكسل الرغبات
          </a>
          <a class="hacen item tab tab-link" data-target="addChoice">
            إدراج الرغبات
          </a>
        </div>
        <div class="tabs-content1">
          <div
            class="ui bottom text-black fs-2 tab segment active getFile panel"
            data-tab-id="tab1"
          >
            <div class="mb-3">
              <div class="note hacen d-flex p-2 fs-2 w-100 mb-2">
                <div class="pr-6">
                  <b> ملاحظة هامة: </b>
                  <br />
                  هذه الخاصية توفر فقط نموذج لملف الرغبات مرقم حسب الرغبات لكل
                  قسم، وذلك لتسهيل عمل المستشار، حيث يقوم بعملية تغيير الترقيم
                  فقط، بالنسبة لأيقونة تصدير الرغبات لملف اكسل، فهي توفر ملف
                  للرغبات المدرجة حاليا للتلاميذ
                </div>
              </div>
            </div>
            <h3 class="hacen">
              اختر الفترة والقسم لتحميل ملف الرغبات [قالب للملأ]:
            </h3>

            <div class="flex mt-4 gap-4">
              <select id="my-annee" class="h-38 p-1 px-3 hacen">
                <option value="" selected="selected">
                  -- اختر السنة الدراسية ----
                </option>
                <option value="20231">2023 - 2024</option>
                <option value="20241">2024 - 2025</option>
              </select>
              <select id="my-div" class="h-38 p-1 px-3 hacen"></select>
            </div>
            <div id="wait-load"></div>

            <button class="btn btn-dark file_down hacen w-100 mt-3">
              تحميل ملف الاكسل للقسم المختار
            </button>
          </div>
          <div
            class="ui bottom text-black fs-2 tab segment addChoice panel"
            data-tab-id="tab1"
          >
            <div class="mb-3">
              <div class="note hacen d-flex p-2 fs-2 w-100 mb-2">
                <div class="pr-6">
                  <b> ملاحظة هامة: </b>
                  التلاميذ الذين لديهم خطأ في الحجز في ملف الاكسل لن يتم حجز
                  رغباتهم حتى يتم التصحيح، مثال عن خطأ: تكرار رقم الرغبة
                  للتلميذ، أو ادراج رقم رغبة غير موجود في القائمة. ستظهر أسماء
                  التلاميذ الذين لديهم خطأ في الحجز في الأسفل، لا تغلق النافذة
                  حتى تنتهي العملية,
                </div>
              </div>
            </div>

            <h4 class="hacen mt-4">
              بعد ملأ الملف قم برفعه من خلال الأيقونة التالية
            </h4>

            <input
              type="file"
              id="excel-rakba"
              name="images"
              id="images"
              required="required"
              multiple="multiple"
            />

            <div id="errore"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="actions">
      <div class="cancel btn text-center btn-danger hacen w-100">
        <i class="remove icon"></i>
        خروج من النافذة
      </div>
    </div>
  </div>
</div>
