<head>
  <style>
    @page {
      size: A4 landscape;
    }

    .section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .bg-cover-po {
      background-position: 0px -7px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    input::placeholder {
      font-size: 2rem;
    }

    @media print {
      input {
        border: 0;
      }
    }
  </style>
</head>

<body class="print A4 landscape" dir="rtl" id="$content"></body>
