<div id="rgf-modal" class="ui basic large modal biarabi">
  <div class="ui header hacen fs-1 text-white py-0">RGF</div>
  <div class="content">
    <section class="ui form segment" id="form_civil">
      <div class="lds" id="$loader2"></div>
      <div id="rgfNotify"></div>
      <br />
      <br />
      <div class="three fields">
        <div class="field">
          <button
            class="btn btn-Neutral h-45 w-100 hacen idaraData"
            id="idaraData"
          >
            1- كشف الإداريين
          </button>
        </div>
        <div class="field"></div>
        <div class="field"></div>
      </div>

      <div class="ui error message"></div>
    </section>
    <div class="actions">
      <div class="cancel btn text-center btn-danger hacen w-100">
        <i class="remove icon"></i>
        خروج من النافذة
      </div>
    </div>
  </div>
</div>
