<style>
  div#valider {
    position: fixed;
    bottom: 41px;
    background: white;
    padding: 0;
    right: 50%;
    transform: translateX(50%);
  }
  div#valider button#editer {
    font-size: 1.3rem;
    background: #13d329;
    color: #000;
  }
</style>
<div class="left-section flex end-align gap-1 hacen" dir="rtl">
  <button
    class="btn btn-Pink flex align-items-center hacen HajzFileModal"
    onclick="$('#hajz-file-modal').modal('show')"
  >
    التأكد من ملفات الحجز واستيراد النقاط
  </button>
</div>

<div id="$modals"></div>
<div id="$boyGirls" class="boyGirls"></div>
