<div id="isnad-maker-modal" class="ui basic fullscreen modal biarabi">
  <div class="ui header hacen fs-1 text-white py-0">المساعد على الإسناد</div>
  <div class="content">
    <section class="ui form segment text-black hacen">
      <div class="mb-3 d-flex gap-1">
        <select
          class="input-control h-38 p-1 w-25 hacen trimIsnad"
          id="trimIsnad"
        >
          <option selected>اختر الفصل</option>
          <option value="20241">الفصل الأول 2024-2025</option>
          <option value="20242">الفصل الثاني 2024-2025</option>
          <option value="20243">الفصل الثالث 2024-2025</option>
        </select>
        <button
          id="getCurrentTeachers"
          class="getCurrentTeachers btn btn-Sky hacen"
        >
          جلب الأساتذة
        </button>
        <button id="getCurrentIsnad" class="getCurrentIsnad btn btn-Pink hacen">
          جلب الإسناد الحالي
        </button>
        <button id="setIsnadTable" class="setIsnadTable btn btn-danger hacen">
          عرض الجدول
        </button>
        <div>
          <p class="m-0 fs-2 p-2 h-38">
            يرجى الإطلاع على نافذة <b>الروبوت المساعد</b> أسفل الشاشة، لمعرفة
            كيفية العمل
          </p>
        </div>
      </div>

      <table id="isnadTableData" class="table fs-3 text-center mt-4">
        <thead id="isnadDataHead"></thead>
        <tbody id="isnadDataBody"></tbody>
      </table>
    </section>
    <div class="actions">
      <div class="cancel btn text-center btn-danger hacen w-100">
        <i class="remove icon"></i>
        خروج من النافذة
      </div>
    </div>
  </div>
</div>
<style>
  #isnadDataHead th {
    background-color: rgba(21, 16, 31, 0.911);
    border-color: aliceblue;
    color: #fff;
    position: sticky;
    top: 0; /* Sticks the header to the top */
    z-index: 1; /* Ensures the header is above table content */
    outline: 1px solid #fff;
  }

  #isnadDataBody {
    max-height: 300px; /* Example height for scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
  }
  .hover-row td,
  .hover-row th {
    background-color: rgba(81, 82, 179, 0.459); /* Highlight row */
  }

  #isnadDataBody td input[type="checkbox"] {
    transform: scale(1.3); /* Increase size */
    -webkit-transform: scale(1.3);
  }
  #isnadDataBody td input[type="checkbox"]:checked {
    background-color: #4caf50; /* Green background when checked */
    border-color: #4caf50; /* Green border when checked */
  }

  .hover-col {
    background-color: rgba(81, 82, 179, 0.459); /* Highlight column */
  }
  .hover-cell {
    background-color: rgba(
      255,
      235,
      59,
      0.469
    ) !important; /* Highlight cell with a different color */
  }
</style>
